*{
	margin: 0;
	padding: 0;
}
div{
}
body{
	background-color: #f3f2ee;
	color: #333333;
	font-size: 100%;
	font-size: 18px;
	line-height: 1.6em;
	font-family: Microsoft Yahei, Georgia, Times, serif;
}
a{
	color: #d25349;
	text-decoration: none;
	border-bottom: 1px dotted #a6a5a3;
}
p,li{
	margin: .5em 0;
}

blockquote p {
	border-left: 5px solid rgb(174, 241, 174);
	padding-left: 15px;
}
pre{
	background-color: rgba(0, 0, 0, 1);
	border-radius: 8px;
	overflow-x: auto;
	padding: 5px;
/*	color: #46EB12;*/
	font-family: Arial;
}

pre>code{
	color: #46EB12;
}
p>code,h1>code,h2>code,h3>code,h4>code,h5>code,h6>code,li>code {
	border: 1px solid #ccc;
	padding: 0.2em 0.3em;
	background-color: #F0E8E8;
	border-radius: 0.4em;
	margin: 0 0.2em;
}
code{
	/*font-style: italic;*/
	color: rgba(255, 0, 0, 0.68);
	padding: 0 3px;
}
.post{
	text-align: left;
	margin: 1.5em;
	font-size: 0.8em;
}
.post *{
	width: 100%;
}
.post.journal>p{
	text-indent: 2em;
}
.post h3+p,h4+p,h5+p,h3~ol,h4~ol,h5~ol{
	margin-left: 1em;
}
.post-head{
	text-align: center;
	margin: 0 auto;
}
.container{
	margin: 0 auto;
	max-width: 800px;
	padding: 0 1em;
}
.post-footer{
	margin: 20px auto;
	text-align: center;
	border-top: 2px solid #ccc; 
}
.portrait{
	margin: 0 auto;
	text-align: center;
}
.portrait img{
	width: 200px;
	height: 200px;
	border: 1px solid transparent;
	border-radius: 200px;
	padding: 10px;
}
.back-top{
    width: 50px;
    height: 60px;
    background-color: transparent;
    position: fixed;
    right: 100px;
    bottom: 80px;
    cursor: pointer;
    opacity: 0.3;
}
.back-top:hover{
    opacity: 0.7;
}
.back-top .arrow{
    width: 0px;
    height: 0px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent rgba(219, 74, 74, 0.72) transparent;
    position: relative;
    top: -20px;
}
.back-top .arrow::after{
    content: " ";
    display: block;
    width: 22px;
    height: 16px;
    background-color: rgba(219, 74,74,0.72);
  /*  border-width: 16px;
    border-style: solid;
    border-color: transparent transparent #FFF transparent;*/
    position: absolute;
    top: 20px;
    left: -11px;
}
.cate-div{
	width: 400px;
	overflow: hidden;
	margin: 0 auto;
}
.cate-title{
	float: left;
	font-size: 1.2em;
	font-weight: bold;
	color: rgb(13, 102, 105);
}
.cate-num{
	float: right;
	font-size: 1.5em;
	color: #D33428;
}
a#postTop {
	outline: none;
}
#blog-head{
	margin: 20px auto;
	text-align: center;
}

#blog-about{
	margin: 2em;
}
#blog-about p{
	margin: 1em 0;
	text-align: left;
}
#blog-footer{
	margin: 20px auto;
	text-align: center;
	border-top: 2px solid #ccc; 
}
#blog-posts h2{
	font-size: 2.3em;
	line-height: 1em;
	margin: 1em 0 0.3em;
	text-align: center;
}
#blog-posts h3{
	line-height: 1em;
	margin: 1em 0 0.3em;
	text-align: center;
}
#blog-posts h3+hr{
	margin: 1.3em auto;
}
#blog-posts{
	width: 80%;
	margin: 0 auto;
}

#blog-posts table{
	width: 440px;
	margin: 0 auto;
}
#blog-posts table .post-col1{
	width: 30%;
}
#blog-posts table .post-col2{
	width: 70%;
}
#blog-posts table .post-date{
	text-align: right;
}
#blog-posts table .post-date span{
	font-size: 0.8em;
	color: #bfbfbf;
}
#blog-posts table .post-url{
	text-align: left;
	text-indent: 0.5em;
}
#blog-posts table .post-url a{
	font-size: 1em;
}
.highlight pre {
    background-color: #505050;
	border-radius: 5px;
	padding: 5px;
}

#moreWritting{
	width:100px;
	margin: 0 auto;
}
