*{
	margin: 0;
	padding: 0;
}
div{
}
body{
	background-color: #f3f2ee;
	color: #333333;
	font-size: 100%;
	font-size: 18px;
	line-height: 1.6em;
	font-family: Microsoft Yahei, Georgia, Times, serif;
}
a{
	color: #d25349;
	text-decoration: none;
	border-bottom: 1px dotted #a6a5a3;
}
p{
	margin: 1em 0;
}
blockquote>pre{
	background-color: rgba(0, 0, 0, 1);
	border-radius: 8px;
	overflow-x: scroll;
	padding: 5px;
	color: #46EB12;
	font-family: Arial;
}
.post{
	text-align: left;
	margin: 1.5em;
	font-size: 0.8em;
}
.post *{
	width: 100%;
}
.post-head{
	text-align: center;
	margin: 0 auto;
}
.container{
	margin: 0 auto;
	max-width: 800px;
	padding: 0 1em;
}
.post-footer{
	margin: 20px auto;
	text-align: center;
	border-top: 2px solid #ccc; 
}
.portrait{
	margin: 0 auto;
	text-align: center;
}
.portrait img{
	width: 200px;
	height: 200px;
	border: 1px solid transparent;
	border-radius: 200px;
	padding: 10px;
}
#blog-head{
	margin: 20px auto;
	text-align: center;
}

#blog-about{
	margin: 2em;
}
#blog-about p{
	margin: 1em 0;
	text-align: left;
}
#blog-footer{
	margin: 20px auto;
	text-align: center;
	border-top: 2px solid #ccc; 
}
#blog-posts h2{
	text-align: center;
}
#blog-posts{
	width: 80%;
	margin: 0 auto;
}
#blog-posts li{
	margin: 1.5em;
	font-size: 0.8em;
}
#blog-posts li a{
}
#blog-posts li span{
	float: right;
}
