---
body_id: welcome
layout: default
title: Dont's Writtings
---
<div class="post-head">
  <p>
    <a id="postTop" href="{{ site.baseurl }}/">Dont Shellphon Wong</a>
  </p>
</div>
<div id="blog-posts">
  <h3>所有分类文章</h3>
  <hr />
  {% for category in site.categories reversed  %}
   <div class="cate-div">
     <span class="cate-title">{{ category | first | upcase}}</span><span class="cate-num">{{ category | last | size }}</span>
   </div>
    <table>
      <colgroup>
          <col class="post-col1">
          <col class="post-col2">
      </colgroup>
      <tbody>
    {% for post in category.last %}
    <tr>
        <td class="post-date">
          <span>{{ post.date | date: "%b %d, %Y" }}</span>
        </td>
        <td class="post-url">
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </td>
    </tr>
    {% endfor %}
   </tbody>
   </table>
  {% endfor %}

</div>
<div id="blog-footer">
  <p>© 2014 Dont Wong changed from <a href="http://michaeldwan.com/">Michael Dwan</a></p>
</div>

