<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Dont" />
    <link rel="shortcut icon" href="{{ site.baseurl }}/fav.ico" type="image/x-icon">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/dontblog.css" type="text/css" media="screen, projection">
	 <link rel="stylesheet" href="{{ site.baseurl }}/css/pygments.css" type="text/css">
    <script type="text/javascript">
    </script>
  </head>
  <body id="{{ page.body_id }}">
    <div class="container">
    {{ content }}
    </div>
  </body>
</html>
