<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Dont" />
    <link rel="shortcut icon" href="{{ site.baseurl }}/fav.ico" type="image/x-icon">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/dontblog.css" type="text/css" media="screen, projection">
	 <link rel="stylesheet" href="{{ site.baseurl }}/css/highlight.css" type="text/css">
  </head>
  <body id="{{ page.body_id }}">
    <div class="fly">
      <div class="fly__url">
        <h4>友链</h4>
        <a href="http://firewood1122.github.io" target="_blank">小猪</a>
        <a href="http://www.zhangxinxu.com/" target="_blank">张鑫旭</a>
        <a href="http://www.barretlee.com/" target="_blank">小胡子哥</a>
        <a href="http://justjavac.com/" target="_blank">jjc大大</a>
        <a href="https://zhanhao.xyz" target="_blank">豪</a>
      </div>
    </div>
    <div class="container">
    {{ content }}
    </div>
  <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254421853' class='cnzz-logo-span' %3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1254421853%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
  </body>
</html>
