<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <div class="content mid">
      {{ content }}
    </div>
  <script type="text/javascript">
    var flyDom = document.getElementById('fly_content');
    var portraitDom = document.getElementById('portrait_wrap');
    var flyLinks = document.getElementsByClassName('fly__url__link')[0];
    var handle = null;
    flyDom.addEventListener('mouseenter', function(){
      var cls = flyDom.className;
      if(!/showAll/.test(cls)){
      		flyDom.className = cls+' showAll';
      }
      if(handle){
        clearTimeout(handle);
      }
      handle = setTimeout(function(){
          flyLinks.style.display='block';
        },500);
    });
    flyDom.addEventListener('mouseleave',function(){
      var cls = flyDom.className;
      if(/showAll/.test(cls)){
      		flyDom.className = cls.split(' ').filter(function(e,i){
      			if(e=='showAll'){
      				return false;
      			}
      			return true;
      		}).join(' ');
      }
      if(handle){
        clearTimeout(handle);
      }
      flyLinks.style.display = 'none';
    });
    /*portraitDom.addEventListener('click',function(e){
    	var cls = portraitDom.className,
    	clss = cls.split(' ');
    	 if(/show/.test(cls)){
      		portraitDom.className = clss.filter(function(e,i){
      			if(e=='show'){
      				return false;
      			}
      			return true;
      		}).join(' ');
      	}else{
      		clss.push('show');
      		portraitDom.className =  clss.join(' ');
      	}
    });*/
    portraitDom.addEventListener('click',function(e){
      if(interHandle){
        clearInterval(interHandle);
      }else{
        transform();
      }
    });
    var interHandle;
    transform();
    function transform(){

      setTimeout(function(){
        interHandle = setInterval(function(){
          var cls = portraitDom.className,
          clss = cls.split(' ');
           if(/show/.test(cls)){
              portraitDom.className = clss.filter(function(e,i){
                if(e=='show'){
                  return false;
                }
                return true;
              }).join(' ');
            }else{
              clss.push('show');
              portraitDom.className =  clss.join(' ');
            }
        }, 5000);
      },5000);
    }
  </script>
  <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254421853' class='cnzz-logo-span' %3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1254421853%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?b9c141e7247b5b027a1aa5dede2e1da5";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
  </body>
</html>
