---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div class="related">
  <h3>其他文章</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h4>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h4>
      </li>
    {% endfor %}
  </ul>
</div>

<!--  <div id="disqus_thread"></div>
 <script type="text/javascript">
 var disqus_shortname = 'Shellphon'; // 注意，这里的 example 要替换为你自己的短域名
 /* * * 下面这些不需要改动 * * */
 (function() {
 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
 dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
 })();
 </script>
 <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
 <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a> -->

<!-- UY 
<script type="text/javascript">
var uyan_config = {
     'url':'{{ site.homelink }}{{ site.baseurl }}{{ page.url }}'
};
</script>
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2138411"></script>
-->
<div id="gitalk_wrapper"></div>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
  
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>

<script>
  var gitalk = new Gitalk({
    clientID: 'b3cd5342a76b0b47c627',
    clientSecret: '1e9022c42de42a2381847127a2b01c638c6b2d6d',
    repo: 'https://github.com/shellphon/my-blog-comments',
    owner: 'shellphon',
    admin: ['shellphon'],
  });

  gitalk.render('gitalk_wrapper');
</script>

